body
{
	margin:0;
	
	 background-color: #a9d7e9;
	 font-family: cursive;
}

#form-heading{
	text-align: center;
	font-weight:bold;
	font-size: 30px;
	margin-bottom: 40px;
	margin-top: -20px;
}

#top-line{
	font-weight: bold;
	font-size: 25px;

}

#form-body
{
	background-color: #f3f3f9;
	text-align: center;
	width:60%;
	margin:auto;
	padding-top: 30px;
	border-radius: 20px;
	padding-bottom: 30px;
	margin-bottom: 80px;
	
}


.labels{
	margin-left: 20px;
	display:inline-block;
	width: 40%;
	text-align: right;
	vertical-align: middle;
}

.input-fields{
	margin-left: 10px;
	display: inline-block;
	width: 40%;
	text-align: left;
	vertical-align: middle;
}

#form-rows{
	margin:20px 0px 20px 0px;
}

#input-field-name{
	padding: 5px;
	width: 300px;
	border-radius: 5px;
	border-color: white;
}

#input-field-email{
	padding: 5px;
	width: 300px;
	border-radius: 5px;
	border-color: white;
}

#input-field-digit{
	padding: 5px;
	width: 300px;
	border-radius: 5px;
	border-color: white;
}

#dropdown{
	padding: 5px;
	width: 300px;
	border-radius: 5px;
	border-color: white;
}

#textarea{
	padding: 5px;
	width: 300px;
	border-radius: 5px;
	border-color: black;
}

#submit-button{
	margin-top: 20px;
}

#submit-input-field{
	padding: 5px;
	width: 150px;
	height: 40px;
	border-radius: 5px;
	background-color: #6f8fda;

}

#submit-input-field:hover{
	background-color: blue;
	color: white;
}

